
<section class="row">
    <div class="col-xs-1"></div>
    <article class="col-xs-10">
        <h2>Greetings Fellow Human!</h2>
        <p>If you've made it this far, then you're one of the last survivors of the human race.
            Don't panic, this is great news!  It means you have a chance to rebuild our once-glorious civilization.
            If you're going to be reconstructing all of the wonders we once had, you're going to need assistance.
            That's where I come in.  I'm a software developer who is eager to help you accomplish great things!
            Now I know what you're thinking:  how do I know this isn't a trap set by the machines in order to lure
            survivors in and convert their bodies into fuel for the cybernetic war machine?
            First of all:  you're being a little paranoid here.  Second of all, I have proof that I am what I say I am!
            Just check out my samples or resume by clicking one of the links below.</p>
        <p>Oh, and stay frosty out there!</p>
    </article>
    <div class="col-xs-1"></div>
</section>

<section class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="row">
            <a href="index.html#/resume" has-ripples class="col-xs-12 col-sm-12 col-md-5 md-primary md-raised md-button nav-button">Resume</a>
            <div class="hidden-xs hidden-sm col-md-1"></div>
            <a href="index.html#/examples"  has-ripples class="col-xs-12 col-sm-12 col-md-5 md-primary md-raised md-button nav-button">Samples</a>
        </div>
    </div>
    <div class="col-xs-1"></div>
</section>