/*Load font faces for custom fonts */
@font-face{
    font-family: 'Josefin Sans';
    src: url(content/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face{
    font-family: 'Fanwood Text';
    src: url(content/fonts/Fanwood_Text/FanwoodText-Regular.ttf);
}

/* global and generic overrides for default styles */
html, body{
    background-image: url("content/images/pw_maze_white.png") !important;
    background-repeat: repeat;
    font-family: 'Fanwood Text', serif;
}

h1,h2,h3{
    font-family: 'Josefin Sans', sans-serif;
}

.md-button{
    font-family: 'Josefin Sans', sans-serif !important;
}

a.header-button{
    padding: 12px;
}

a i{
    font-size: 36px !important;
}

p{
    font-size: 18px;
}

/* specific class css */

.padding-10{
    padding: 10px;
}

.centered-info{
    width: 100%;
    text-align: center;
}

.embedded-google-doc{
	width:720px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
}

.example-description{
    height: 200px;
}

.page-image{
    width: 95%;
    max-width:1028px;
}

.cover_photo{
    width:100%;
    height: 500px;
    background-image: url(content/images/my_desk.jpg);
    background-size: cover;
    background-position: center;
}

/* animation magic */
@keyframes slide-in {
    from {opacity: 0; transform: translate(-100%, 0px);}
    to {opacity: 1; transform: translate(0px,0px);}
}

@-webkit-keyframes -webkit-slide-in {
    from {opacity: 0; -webkit-transform: translate(-100%, 0px);}
    to {opacity: 1; -webkit-transform: translate(0px,0px);}
}

@keyframes slide-out {
    to {opacity: 0; transform: translate(100%,0px);}
}

@-webkit-keyframes -webkit-slide-out {
    to {opacity: 0; -webkit-transform: translate(100%,0px);}
}

.ng-enter{
    position: absolute;
    animation: slide-in 0.65s both linear;
    -webkit-animation: -webkit-slide-in 0.65s both linear;
    z-index: 5555;
}

.ng-leave{
    position: absolute;
    animation: slide-out 0.65s both linear;
    -webkit-animation:  -webkit-slide-out 0.65s both linear;
    z-index: 9999;
}

ng-view{

}

/* Media overrides for sizing on smaller screens */

@media(max-width: 768px){
    .cover_photo{
        height: 500px;
    }
	
	.embedded-google-doc{
		width:100%;
	}
}

@media(max-width: 992px) {
    .nav-button.md-button {
        font-size: 36px;
        padding: 6px;
    }
	
	.embedded-google-doc{
		width:100%;
	}
}

@media(min-width: 992px){
    .cover_photo{
        background-position: bottom;
        height: 300px;
        background-image: url(content/images/my_desk_long.jpg);
    }
}

@media(min-width: 2000px){
	.cover_photo{
        background-position: bottom;
        height: 600px;
        background-image: url(content/images/my_desk_long_2.jpg);
    }
}