<div class="row">
    <a href="index.html#/" has-ripples class="md-primary md-raised md-button pull-left ">
        <i class="fa fa-angle-left"></i>
    </a>
</div>
<div class="row">
    <div class="hidden-xs hidden-sm col-md-1">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8">
	
		<iframe src="http://docs.google.com/gview?url=http://www.alchemicalsoftware.com/content/pdfs/Resume_2016.pdf&embedded=true" class="embedded-google-doc" frameborder="0"></iframe>
	
    </div>

    <div class="hidden-xs hidden-sm col-md-1">
    </div>
</div>