[has-ripples]{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.ink {
    display: block; position: absolute;
    background-color: #845cb7;
    border-radius: 100%;
    transform: scale(0);
}
/*animation effect*/
.ink.animate {
    animation: ripple 0.65s linear;
    -webkit-animation: ripple 0.65s linear;
}

@keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {opacity: 0; transform: scale(2.5);}
}

@-webkit-keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {opacity: 0; transform: scale(2.5);}
}

.ink-container{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.ink-fill{
    display: block; position: absolute;
    background-color: #845cb7;
    border-radius: 100%;
    transform: scale(0);
}

.ink-fill.animate {
    animation: cover-screen 0.25s linear;
    -webkit-animation: cover-screen 0.25s linear;
    -webkit-animation-fill-mode: forwards;
}

@keyframes cover-screen {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {transform: scale(2.5);}
}

@-webkit-keyframes cover-screen {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {transform: scale(2.5);}
}