<div class="row">
    <a href="index.html#/" has-ripples class="md-primary md-raised md-button pull-left ">
        <i class="fa fa-angle-left"></i>
    </a>
</div>
<div class="row" ng-repeat="exampleGroup in examplesCtrl.exampleGroups">
    <div class="col-xs-12">
        <h1 class="centered-info">{{exampleGroup.name}}</h1>
        <p class="centered-info">{{exampleGroup.description}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="example in exampleGroup.examples">
        <md-card>
            <md-content>
                <img ng-attr-src="{{example.image}}"/>
                    <div class="padding-10">
                    <h2>{{example.name}}</h2>
                    <p class="example-description">
                        {{example.description}}
                    </p>
                    <a has-ripples ng-attr-href="{{example.link}}" class="col-xs-5 md-primary md-raised md-button pull-right" target="_blank">Check It Out</a>
                </div>
            </md-content>
        </md-card>
    </div>
</div>